* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
}

.container {

    max-width: 1400px;
    margin: 0 auto;
    background-color: aliceblue;
    padding: 30px 90px;

}

.header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.Infuencer-title {
    font-size: 24px;

}

.Influencer-options a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 16px;

}

/* Influencer-Journey-Start */
.Influencer-Journey {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Influencer-Details {
    /* width: 60%; */
    width: 750px;

}

.Influencer-Details h1 {
    font-size: 52px;
    margin-bottom: 16px;
}

.Influencer-Details p small {
    font-size: 16px;

}

.Influencer-Details button {
    font-size: 16px;
    margin-top: 16px;
    background: #E02C6D;
    padding: 15px;
    border-radius: 41px;
    border: none;
    color: #FFFFFF;

}

.Influencer-Img {
    width: 440px;


}


/* Influencer-Journey-End */

/* Logo Start */
.logo-special {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 200px;
    width: 900px;
    margin: 0 auto;

}

hr {
    width: 1000px;
    margin: 0 auto;
    border: 1px solid gray;
}

/* Logo End */


/* popular collection start */
.popular {
    text-align: center;
    font-size: 50px;
    padding: 30px;
}

.popular-collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;


}

.collections {
    margin: 20px;
    background-color: #FFFFFF;
    border: 15px solid #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.collection-img img {
    width: 100%;
}

.collection-info h2,
h3,
p {
    margin: 5px;
}

span button {
    font-size: 16px;
    background: #E02C6D;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    justify-content: right;
    float: right;

}

/* footer start */
.foot {
    color: white;
    background-color: black;
    height: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.foot h1 {
    text-align: center;
}

.foot p {
    text-align: center;
}

/* footer end */