* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
}

.container {

    max-width: 1400px;
    margin: 0 auto;
    background-color: aliceblue;
    padding: 30px 90px;

}

.header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.Infuencer-title {
    font-size: 24px;

}

.Influencer-options a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 16px;

}

/* Influencer-Journey-Start */
.Influencer-Journey {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Influencer-Details {
    /* width: 60%; */
    width: 750px;

}

.Influencer-Details h1 {
    font-size: 52px;
    margin-bottom: 16px;
}

.Influencer-Details p small {
    font-size: 16px;

}

.Influencer-Details button {
    font-size: 16px;
    margin-top: 16px;
    background: #E02C6D;
    padding: 15px;
    border-radius: 41px;
    border: none;
    color: #FFFFFF;

}

.Influencer-Img {
    width: 440px;


}


/* Influencer-Journey-End */